.env
djangovenv/
static_files/json/
static_files/json/assumemate-firebase-adminsdk-oz5ln-00044ff115.json
client_secret_1084072665393-l7vjuiaeh84vnetlsummbsdvj1h4mqi7.apps.googleusercontent.com.json
static_files/json/assumemate-firebase-adminsdk-oz5ln-032e1d9413.json'
serializer.txt