.cardsBox {
    position: relative;
    width: 70%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.cardsBox .cards {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    margin-left: 20px;
}

.cardsBox .cards .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: blue;
}

.cardsBox .cards .cardnames {
    color: black;
    font-size: 1em;
    margin-top: 5px;
}

.cardsBox .cards .iconbx {
    color: black;
    font-size: 3em;
}

.cardsBox .cards:hover {
    background: #4A8AF0;
}

.cardsBox .cards:hover .numbers,
.cardsBox .cards:hover .cardnames,
.cardsBox .cards:hover .iconbx {
    color: #13223b;
}

.assumemate.active {
    background: #4a8af0;
}

.assumemate.active .numbers,
.assumemate.active .cardnames,
.assumemate.active .iconbx {
    color: #13223b;
}

.dataTables_filter {
    display: none;
  }

#clear_btn:hover {
    color: #f04a4a;
  }

  .dataTables_wrapper .dataTables_paginate,
  .dataTables_wrapper .dataTables_info {
    margin-top: 12px;
}
    .table {
        margin-bottom: 0px;
    }
      
      thead {
        background: #ddd;
      }

      .dataTables_empty{
        text-align: center;
      }
