{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <script src="{% static 'jquery/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script defer src="{% static 'fontawesome/all.min.js' %}" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <style>
    html, body {
      height: 100%; /* Ensure the html and body take full height */
      margin: 0; /* Remove default margin */
      background-color: #fbfbfb;
    }

    .form-control:focus {
      outline: none;
      box-shadow: none;
    }
    .eye-icon {
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .bg-custom {
      background-color: white;
      max-height: 915px;
      max-width: 500px;
      border-radius: 1%;
      border-color: #f2f0f0;
      border-style: solid;
      border-width: thin;
      padding: 3.5%;
    }

    @media (max-width: 600px) {
      .bg-custom {
        background-color: #fbfbfb;
        border: 0;
        padding: 4%;
    }
}
  </style>
</head>
<body>
<section class="ftco-section d-flex align-items-center h-100">
  <div class="container-sm w-100 h-100 p-4">
    <div class="row justify-content-center h-100">
      <div class="col-lg-5 h-100 d-flex flex-column bg-custom">
        {% if is_expired %}
          <div class="w-100">
            <h2 class="mb-5">Link has expired.</h2>
          </div>
          <div class="h-100 d-flex flex-column">
            <p class="mb-5" style="color: gray;">Create new password</p>
            <div class="form-group mt-auto">
              <a class="w-100 py-3 button btn rounded-pill fw-bold" style="background-color: #4A8AF0; color: #FFFCF1;"
              href="{% url 'forgot_password' %}">Reset your password</a>
          </div>
        {% else %}
          <div class="w-100">
            <h2 class="mb-5">Create new password</h2>
          </div>
          <form id="newpass-form" class="h-100 d-flex flex-column" data-url="{% url 'reset-password' %}?key={{ key }}&token={{ token }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-2 px-2 py-1 border border-dark rounded-pill position-relative">
              <input type="password" oninput="validateForm()" class="form-control border-0"  style="width: 95%;" placeholder="New Password" name="newpassword" id="newpassword" required>
              <i class="fa-solid fa-eye fa-lg position-absolute eye-icon" onclick="togglePasswordVisibility('newpassword')"></i>
            </div>
            <div class="form-group mb-4 px-1"><p style="font-size: 12px;">Password must be 8-32 characters long and include at least one letter, one number, and one special character (e.g., @$!%*?&).</p></div>
            <div class="form-group px-2 py-1 border border-dark rounded-pill position-relative">
              <input type="password" oninput="validateForm()" class="form-control border-0" style="width: 95%;" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required>
              <i class="fa-solid fa-eye fa-lg position-absolute eye-icon" onclick="togglePasswordVisibility('confirmpassword')"></i>
            </div>
            <p class="" id="msg"></p>
            <div class="form-group mt-auto">
                <button type="submit" id="submit_newpass" class="w-100 py-3 btn rounded-pill fw-bold" style="background-color: #4A8AF0; color: #FFFCF1;" disabled>
                  <span id="loading-icon" class="spinner-border text-light spinner-border-sm" role="status" aria-hidden="true" style="display: none; margin-right: 3px;"></span>
                  Reset your password
                </button>
            </div>
          </form>
          {% endif %}
      </div>
    </div>
  </div>
</section>
<script>
  const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,32}$/;

  function togglePasswordVisibility(inputId) {
    const input = document.getElementById(inputId);
    const icon = input.nextElementSibling;
    if (input.type === "password") {
      input.type = "text";
      icon.classList.remove("fa-eye");
      icon.classList.add("fa-eye-slash");
    } else {
      input.type = "password";
      icon.classList.remove("fa-eye-slash");
      icon.classList.add("fa-eye");
    }
  }

  function validateForm() {
    var newpass = $("#newpassword").val();
    var conpass = $("#confirmpassword").val();
    const passwordError = $("#msg");

    if (!passwordPattern.test(newpass)) {
            passwordError.text("Password must be 8-32 characters long and include at least one letter, one number, and one special character (e.g., @$!%*?&)").addClass('text-center text-danger');
            $("#submit_newpass").prop("disabled", true);
            return false;
        }

        if (newpass !== conpass) {
            passwordError.text("Passwords do not match.").addClass('text-center text-danger');
            $("#submit_newpass").prop("disabled", true);
            return false;
        }

        passwordError.text("");
        $("#submit_newpass").prop("disabled", false);
        return true;
  }
  $(document).ready(function() {
    $("#submit_newpass").click(function (event) {
      event.preventDefault();

      if (!validateForm()) return;

      var formURL = $("#newpass-form").data('url');
      var csrf = '{{csrf_token}}'

      var newpass = $("#newpassword").val();
      var conpass = $("#confirmpassword").val();
      
      $('#loading-icon').show();
      $("#submit_newpass").prop("disabled", true);

      $.post( formURL, {
        newpass: newpass,
        csrfmiddlewaretoken: csrf,
      })
      .done (function (response) {
          if(response.status == 200) {
            window.location.href = "{% url 'reset-password-done' %}";
          } else {
            $('#msg').text(response.error).addClass('text-center')
          }
      })
      .fail(function (jqXHR) {
        console.log('error' + response.message);
      })
      .always(function() {
          $('#loading-icon').hide();
      });
    });
  });
</script>
</body>
</html>
