{% extends "base/base.html" %}
{% block content %}
{% load humanize %}


<div class="container mt-3">
    <!-- Page Title -->
                <div class="row mb-2">
                <div class="col text-center">
                <div id="msg" class="" role="alert"></div>
                <h3 class="fw-bold mt-2">Payout Request Details</h3>
            <hr class="w-25 mx-auto">
        </div>
    </div>

    <!-- Payout Details Section -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg ">
                <div class="card-header bg-primary text-white">
                    <h5>Payout Information: Payout {{ refund.payout_status|title }}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="font-weight-bold">Refund ID</th>
                                <td class="text-muted text-md-end">{{ refund.refund_id }}</td>
                            </tr>
                            <tr>
                            <tr>
                                <th class="font-weight-bold">Requested By</th>
                                <td class="text-muted text-md-end">{{ refund.user_id.profile.user_prof_fname }} {{ refund.user_id.profile.user_prof_lname }}</td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Requested Date</th>
                                <td class="text-muted text-md-end">{{ refund.refund_created_at|date:"M d, Y H:i A" }}</td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Refund Status</th>
                                <td class="text-muted text-md-end">{{ refund.refund_status }}</td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Payout Amount</th>
                                <td class="text-muted text-md-end">₱{{ refund.order_id.order_price|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">-Fee</th>
                                <td class="text-muted text-md-end">₱{{ refund.refund_fee|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold">Total Refund</th>
                                <td class="text-muted text-md-end">₱{{ refund.refund_amount_after_fee|floatformat:2|intcomma }}</td>
                            </tr>
                            <!-- <tr>
                                <th class="font-weight-bold">Order ID</th>
                                <td class="text-muted text-md-end">{{ refund.order_id.order_id }}</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'refund-requests' %}" class="btn btn-secondary">Back to List</a>
                    {% if refund.refund_status == 'PENDING' %}
                    <div>
                        <a href="{% url 'send_refund' refund.refund_id %}" id="send-btn" class="btn btn-success me-2" data-payout-id="">Approve <span id="loading-icon" class="spinner-border text-light spinner-border-sm" role="status" aria-hidden="true" style="display: none; margin-right: 3px;"></span></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#send-btn").click(function (event) {
        event.preventDefault();
        var csrf = '{{csrf_token}}';
        
        const url = $(this).attr('href');

        $('#loading-icon').show();

        $.post(url, {
            csrfmiddlewaretoken: csrf,
        })
        .done (function (response) {
            location.reload();
            showMessage(response.message, 'success');
        })
        .fail(function (jqXHR) {
            if (jqXHR.status === 400) {
                const errorResponse = JSON.parse(jqXHR.responseText);
                showMessage(errorResponse.error || "An error occurred.", 'danger');
            } else {
                showMessage("An unexpected error occurred.", 'danger');
            }
        }).always(function () {
            $('#loading-icon').hide();
            $("#register_upperuser").prop("disabled", false);
        });
    });

    function showMessage(message, type) {
        $("#msg").stop(true, true).fadeOut(0, function() {
            $(this).text(message)
                .removeClass('alert-danger alert-success')
                .addClass(`p-1 text-center alert alert-${type}`)
                .fadeIn(300);
        }).fadeOut(3000);
    }
</script>

{% endblock content %}
