{% extends "base/base.html" %}
{% load static %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
<div class="container">
    <div class="row">
        <div class="cardsBox">
            <div class="assumemate">
                <div class="cards border">
                    <a href="/Assumemate/Assumptors" style="color: black;">
                        <div class="numbers">1</div>
                        <div class="cardnames">Assumptors</div>
                    </a>
                    <div class="iconbx">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>

            <div class="assumemate">
                <div class="cards border">
                    <a href="/Assumemate/Assumees" style="color: black;">
                        <div class="numbers">4</div>
                        <div class="cardnames">Assumees</div>
                    </a>
                    <div class="iconbx">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>

            <div class="assumemate">
                <div class="cards border">
                    <a href="/Assumemate/Suspended" style="color: black;">
                        <div class="numbers">5</div>
                        <div class="cardnames">Total Users</div>
                    </a>
                    <div class="iconbx">
                        <i class="fa-solid fa-users pe-2"></i>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<script src="{% static 'scripts/invv.js' %}"></script>
{% endblock content %}