{% extends "base/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
<div class="col bg-white rounded mx-2 my-2 px-3 py-1">
    <div class="d-flex justify-content-center mx-0">
        <div class="row w-50">
            <div class="input-group input-group-sm my-3 border border-dark" style="border-radius: 20px; height: 45px;">
                <div class="input-group-prepend align-self-center">
                    <span class="input-group-text bg-transparent border border-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <input id="search_input" type="text" oninput="hasText()" class="form-control border-0 shadow-none" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search"/>

                <div class="input-group-prepend ml-3 align-self-center">
                    <span class="input-group-text bg-transparent m-0 border border-0 circle" style="display:none;">
                        <button id="clear_btn" onclick="clearText()" class="btn btn-sm m-0 border-0 circle" style="display: none;">
                            <i id="clear-mark" class="fa-solid fa-circle-xmark"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mx-3">
            <div class="input-group input-group-sm my-3 p-0 border border-dark" style="border-radius: 20px;">
                <select id="category_list" class="form-select border border-0" style="border-radius:20px;" aria-label="Default select example">
                    <option value="all">---All---</option>
                    <option value="Assumptors">Assumptors</option>
                    <option value="Assumees">Assumees</option>
                </select>
            </div>
        </div>
    </div>
    <br><br>
    <div class="col px-2 pt-1">
        <table id="admin_list" class="table table-sm table-bordered" width="100%">
            <thead style="text-align:center;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Application Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="user_table_body" data-category="users">
                {% for assumptor in pending_assumptors %}
                <tr data-category="Assumptors">
                 <!-- Debug: Output the entire object -->
                    <td class="marquee">{{ assumptor.user_id.profile.user_prof_fname }}</td>
                    <td class="marquee">{{ assumptor.user_id.profile.user_prof_lname }}</td>
                    <td class="marquee">{{ assumptor.user_id.profile.user_id.email }}</td>
                    <td style="text-align: center;">{{ assumptor.user_app_status }}</td>
                    <td style="text-align: center;">
                        <a type="button" class="btn btn-sm btn-info" href="{% url 'user_detail_view' assumptor.user_id.pk %}">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

                {% for assumee in pending_assumees %}
                    <tr data-category="Assumees">
                        <td class="marquee">{{ assumee.user_id.userprofile.user_prof_fname }}</td>
                        <td class="marquee">{{ assumee.user_id.userprofile.user_prof_lname }}</td>
                        <td class="marquee">{{ assumee.user_id.userprofile.user_id.email }}</td>
                        <td style="text-align: center;">{{ assumee.user_app_status }}</td>
                        <td style="text-align: center;">
                            <a type="button" class="btn btn-sm btn-info" href="{% url 'user_detail_view' assumee.user_id.pk %}">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<script src="{% static 'scripts/pending_users.js' %}"></script>




{% endblock content %}
